@import url("meyer-reset.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');


@color-grey: #37474F;
@color-blue: #03A9F4;
@color-green: #00C853;
@color-red: #F44336;
@color-orange: #FF9800;
@color-ltgrey: #ECEFF1;

@size-desktop:769px;

.btn() {
  border: 1px solid @color-ltgrey;
  display: block;
  text-align: center;
  color:@color-grey;
  background-color: white;
  padding:11px 30px;
  transition:0.2s all linear;
  text-decoration: none;
  width:100%;
  &:hover {
    background-color:@color-grey;
    color:white;
  }
  &.ok {
    border-color: @color-green;
    color: @color-green;
    &:hover {
      background-color: @color-green;
      color: white;
    }
  }
  &.edit {
    border-color: @color-orange;
    color: @color-orange;
    &:hover {
      background-color: @color-orange;
      color: white;
    }
  }
  &.cancel {
    border-color: @color-red;
    color: @color-red;
    &:hover {
      background-color: @color-red;
      color: white;
    }
  }
  &.info {
    border-color: @color-blue;
    color: @color-blue;
    &:hover {
      background-color: @color-blue;
      color: white;
    }
  }
}
.btn-round(@bg-color:white, @size:40px) {
  display: block;
  width:@size;
  height:@size;
  border-radius: @size/2;
  background-color:@bg-color;
  border:1px solid white;
  box-sizing: border-box;
  padding:0;
  cursor: pointer;
  &:hover {
    background-color: @bg-color;
  }
}
.font-ssp() {
  font-family: 'Source Sans Pro', sans-serif;
}
.img-replace() {
  text-indent:-9999px;
  background-position:center center;
  background-repeat:no-repeat;
}
.input() {
  .font-ssp;
  font-size:14px;
  color:@color-grey;
  border: 1px solid @color-ltgrey;
  padding:6px 8px;
  line-height:20px;
  display: block;
  width:100%;
  box-sizing:border-box;
  outline:none;
  &:focus {
    border-color:@color-blue;
  }
}


// Styles

a {
  color:@color-blue;
  text-decoration: none;
}

body {
  .font-ssp;
  font-weight:300;
  color:@color-grey;
}

.breadcrumbs { font-weight:400; }

button {
  .btn;
  .font-ssp;
  font-size:14px;
  font-weight:400;
}

.btn-comments {
  .btn-round(transparent);
  background-repeat:no-repeat;
  background-position:center 6px;
  background-color: transparent;
  background-image:url("../images/icon-bubble-green.png");
  border:none;
  text-align: center;
  color:white;
  overflow: hidden;
  &.comments-unread {
    background-image:url("../images/icon-bubble-orange.png");
  }
  &.comments-ok {
    .img-replace;
    background-image:url("../images/icon-plus-lt.png"), url("../images/icon-bubble-green.png");
    background-position:center 13px, center 6px;
  }
}

.btn-public {
  .btn;
}

.btn-status {
  .img-replace;
  &.status-approved {
    .btn-round(@color-green);
    background-image:url("../images/icon-check.png");
  }
  &.status-unreviewed {
    .btn-round();
    border-color:@color-grey;
  }
  &.status-denied {
    .btn-round(@color-red);
    background-image:url("../images/icon-x-lt.png");
  }
  &.status-needs-attention {
    .btn-round(@color-orange);
    background-image:url("../images/icon-attention.png");
  }
}

.category {
  border-top:1px solid @color-ltgrey;
  padding:0 0 20px;
  .items-required {
    font-weight:600;
  }
  .btn-reorder {
    .img-replace;
    background-image: url("../images/icon-drag.png");
    background-position:right center;
  }
  @media screen and min-width(@size-desktop) {
    padding:0 20px 20px;
  }
}

.collection-group {
  margin:20px 0 15px;
  .label {
    font-weight:600;
    margin-bottom:5px;
    display: block;
  }
  a {
    display: block;
    padding:5px 10px 5px 20px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font-weight:400;
    color:@color-blue;
    &:hover {
      background-color:@color-ltgrey;
    }
  }
  @media screen and (min-width:@size-desktop) {
    &.active a {
      background-color: #03A9F4;
      background-image: url("../images/icon-indicator.png");
      background-repeat:no-repeat;
      background-position: 7px center;
      color:white;
      font-weight:400;
    }
  }
}

form h2 {
  .h3;
}

h1, .h1 {
  font-size: 59px;
  font-weight: 600;
  line-height: 74px;
  text-transform: uppercase;
}

h2, .h2 {
  font-size:23px;
  line-height:30px;
  font-weight: 600;
  @media screen and (min-width:@size-desktop) {
    font-size: 37px;
    line-height: 40px;
  }
}

h3, .h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin:15px 0 5px;
  @media screen and (min-width:@size-desktop) {
    font-size: 23px;
    line-height: 30px;
  }
}

header {
  background-color:@color-grey;
  .brand {
    text-align: center;
    color:white;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
  }
  .tagline {
    display: none;
  }
  @media screen and (min-width:@size-desktop) {
    width: 260px;
    height: 220px;
    border: 1px solid @color-ltgrey;
    .brand {
      .h1;
      background-color: @color-grey;
      text-indent:-5px;
      margin:10px;
      height: 165px;
      box-sizing:border-box;
      padding-top:108px;
    }
    .tagline {
      display: block;
      margin-left:10px;
      margin-top:12px;
      font-weight:400;
    }
  }
}

img { max-width:100%; }

input {
  .input;
}

li {
  font-size: 14px;
  line-height: 20px;
}

nav {
  position: relative;
  background-color:@color-grey;
  .mobile-nav-link {
    display: block;
    .img-replace();
    background-image:url("../images/icon-menu.png");
    height:40px;
  }
  .nav-body {
    background-color:@color-ltgrey;
    padding:5px 20px;
    position: absolute;
    top:40px;
    left:0;
    width:100%;
    display: none;
  }
  .btn-close {
    position: absolute;
    top:70px;
    right:20px;
    .img-replace;
    border:none;
    padding:0;
    width:auto;
    background-image:url("../images/icon-x-dk.png");
    background-color:transparent;
    display: none;
  }
  &:hover {
    .nav-body, .btn-close {
      display: block;
    }
  }
  @media screen and (min-width:@size-desktop) {
    background-color:white;
    .nav-body {
      background-color: white;
      position: static;
      display: block;
    }
    .btn-close { display: none; }
    .mobile-nav-link { display: none; }
  }
}

p {
  font-size: 14px;
  line-height: 20px;
  margin:10px 0;
  &.lead {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    @media screen and (min-width: @size-desktop) {
      font-size: 23px;
      line-height: 30px;
    }
  }
}

.public-header {
  border:none;
  width:auto;
  height:auto;
  h1 {
    font-size:14px;
    line-height:20px;
    font-weight:300;
    text-transform: none;
  }
}

#prototype-nav {
  width:100%;
  margin-top:0;
  padding:5px;
  font-size:11px;
  background-color: @color-grey;
  color:white;
  text-align: center;
  a { color:@color-blue; }
}

.requirement-status {
  font-weight:400;
  &.status-not-started {
    color:@color-red;
    .progress-bar { background-color:fadeout(@color-red, 80%); }
    .progress { background-color: @color-red; }
  }
  &.status-complete {
    color:@color-green;
    .progress-bar { background-color:fadeout(@color-green, 80%); }
    .progress { background-color: @color-green; }
  }
  &.status-in-progress {
    color:@color-orange;
    .progress-bar { background-color:fadeout(@color-orange, 80%); }
    .progress { background-color: @color-orange; }
  }
  .label {
    font-weight:600;
  }
  .progress-bar { 
    height:10px;
    overflow: hidden;
  }
  .progress {
    .img-replace;
    min-width:1px;
    display: block;
  }
}

.select-students {
  position: relative;
  &.reviewing {
    .students {
      top:60px;
    }
  }

  .label {
    background:right center no-repeat url("../images/icon-down.png");
  }
  .selected-student {
    display: block;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    color:@color-blue;
  }
  .students {
    display: none;
    position: absolute;
    width:100%;
    top:30px;
    right:0;
    background-color: @color-ltgrey;
    box-sizing: border-box;
    padding:10px 0;
    a {
      display: block;
      padding:5px 23px;
      &:hover {
        color:white;
        background-color: @color-blue;
      }
    }
    &.on {
      display: block;
    }
  }
}

textarea {
  .input;
}

.work-images {
  li {
    width:240px;
    &:first-child {
      width:auto;
    }
  }
  figcaption {
    display: none;
  }
}

.work-tile {
  border:1px solid @color-ltgrey;
  box-sizing:border-box;
  padding:5px;
  width: 170px;
  a { color: @color-grey; }
  .title {
    font-weight:400;
    display: block;
  }
  .date {
    display: block;
    @media screen and (min-width:@size-desktop) {
      text-align: right;
    }
  }
  .image {
    max-width:100%;
    background-size: cover;
    height: 95px;
    img {
      display: none;
    }
    @media screen and (min-width:@size-desktop) {
      height: 165px;
    }
  }

  @media screen and (min-width: @size-desktop) {
    padding:10px;
    width: 260px;
  }
}

.work-tile-placeholder {
  padding:0;
  width:170px;
  button {
    width:100%;
    height:100%;
  }
  @media screen and (min-width: @size-desktop) {
    width: 260px;
  }
}
