@import url("meyer-reset.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');


@color-grey: #37474F;
@color-blue: #03A9F4;
@color-green: #00C853;
@color-red: #F44336;
@color-orange: #FF9800;
@color-ltgrey: #ECEFF1;

@size-desktop:960px;

.btn() {
  border: 1px solid @color-ltgrey;
  box-sizing: border-box;
  display: block;
  text-align: center;
  color:@color-grey;
  background-color: white;
  padding:11px 30px;
  transition:0.2s all linear;
  text-decoration: none;
  width:100%;
  &:hover {
    background-color:@color-grey;
    color:white;
  }
  &:focus { outline:none; }
  &.ok {
    border-color: @color-green;
    color: @color-green;
    &:hover {
      background-color: @color-green;
      color: white;
    }
  }
  &.edit {
    border-color: @color-orange;
    color: @color-orange;
    &:hover {
      background-color: @color-orange;
      color: white;
    }
  }
  &.cancel {
    border-color: @color-red;
    color: @color-red;
    &:hover {
      background-color: @color-red;
      color: white;
    }
  }
  &.info {
    border-color: @color-blue;
    color: @color-blue;
    &:hover {
      background-color: @color-blue;
      color: white;
    }
  }
}
.btn-round(@bg-color:white, @size:40px) {
  display: block;
  width:@size;
  height:@size;
  border-radius: @size/2;
  background-color:@bg-color;
  border:1px solid white;
  box-sizing: border-box;
  padding:0;
  cursor: pointer;
  &:hover { background-color: @bg-color; }
}
.font-ssp() {
  font-family: 'Source Sans Pro', sans-serif;
}
.img-replace() {
  text-indent:-9999px;
  background-position:center center;
  background-repeat:no-repeat;
}
.input() {
  .font-ssp;
  font-size:14px;
  color:@color-grey;
  border: 1px solid @color-ltgrey;
  padding:6px 8px;
  line-height:20px;
  display: block;
  width:100%;
  box-sizing:border-box;
  outline:none;
  font-weight:300;
  &:focus { border-color:@color-blue; }
}


// Layout mixins

.grid-body() {
  display:grid;
  grid-template-columns:60px 1fr;
  grid-template-rows:auto 40px auto auto;
  grid-template-areas:
    "proto-nav proto-nav"
    "nav       brand"
    "main      main"
    "footer    footer";

  &.page-work-public,
  &.page-collection-public {
    grid-template-areas:
      "proto-nav proto-nav"
      "brand     brand"
      "main      main"
      "footer    footer";
  }

  header { grid-area: brand; }
  main { grid-area: main; }
  nav { grid-area: nav; }
  footer { grid-area: footer; }
  #prototype-nav { grid-area: proto-nav; }

  @media screen and (min-width:@size-desktop) {
    grid-template-columns:300px 1fr;
    grid-template-rows:auto 240px auto auto;
    grid-template-areas:
      "proto-nav proto-nav"
      "brand     main"
      "nav       main"
      "footer    footer";

    &.page-work-public,
    &.page-collection-public {
      grid-template-columns:1fr 800px 1fr;
      grid-template-rows:auto;
      grid-template-areas:
        "proto-nav proto-nav proto-nav"
        ".         brand     ."
        ".         main      ."
        "footer    footer    footer";
    }
  }
}
.grid-category() {
  display:grid;
  grid-gap:20px;
  grid-template-columns: auto 160px;
  grid-template-areas: "details options";
  justify-content: space-between;

  .details { grid-area: details; }
  .options { grid-area: options; }

  @media screen and (min-width:@size-desktop) {
    grid-template-columns: auto 260px;
  }
}
.grid-footer() {
  @media screen and (min-width:@size-desktop) {
    display:grid;
    grid-template-columns: 300px auto;
  }
}
.grid-form-options() {
  display:flex;
  flex-flow:row wrap;
  button {
    width:145px;
    margin:0 10px 10px 0;
    &:first-child { width:100%; }
    &:nth-child(odd) { margin-right:0; }
  }
}
.grid-intro-options() {
  display:flex;
  justify-content: space-between;
}
.grid-status() {
  display:grid;
  grid-template-columns: auto 1fr;
  grid-gap:10px;
}
.grid-tile() {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto auto;
  grid-template-areas:
    "image"
    "title"
    "date";

  .image { grid-area: image; }
  .title { grid-area: title; }
  .date { grid-area: date; }

  @media screen and (min-width: @size-desktop) {
    grid-template-columns: 1fr 75px;
    grid-template-rows:175px auto;
    grid-template-areas:
      "image image"
      "title date";
  }
}
.grid-tiles() {
  display:flex;
  flex-flow: row wrap;
}
.grid-work-intro() {
  display:grid;
  grid-template-columns: auto 100px;
  grid-template-areas:
          "name    options"
          "details details";

  .name { grid-area: name; }
  .details { grid-area: details; }
  .options { grid-area: options; }
}
.grid-work-images() {
  display:grid;
  grid-gap:10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:260px 120px 120px;
  grid-template-areas:
          "main   main"
          "sub-1 sub-2"
          "sub-3 sub-4";

  li:nth-child(1) { grid-area: main; }
  li:nth-child(2) { grid-area: sub-1; }
  li:nth-child(3) { grid-area: sub-2; }
  li:nth-child(4) { grid-area: sub-3; }
  li:nth-child(5) { grid-area: sub-4; }

  @media screen and (min-width:500px) {
    grid-template-rows:300px 200px 200px
  }

  @media screen and (min-width:768px) {
    grid-template-rows:400px 260px 260px
  }

  @media screen and (min-width:@size-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:400px 120px;
    grid-template-areas:
            "main  main  main  main"
            "sub-1 sub-2 sub-3 sub-4";
  }

  @media screen and (min-width:1200px) {
    grid-template-columns: 4fr 1fr;
    grid-template-rows:120px 120px 120px 120px;
    grid-template-areas:
            "main sub-1"
            "main sub-2"
            "main sub-3"
            "main sub-4";
  }
}


// Styles

a {
  color:@color-blue;
  text-decoration: none;
}

body {
  .font-ssp;
  font-weight:300;
  color:@color-grey;
  .grid-body;
}

.breadcrumbs {
  font-weight:400;
  margin-left:20px;
}

.btn-edit-collection {
  width:45%;
  @media screen and (min-width:600px) {
    width:260px;
  }
}

.btn-comments {
  .btn-round(transparent);
  background-repeat:no-repeat;
  background-position:center 6px;
  background-color: transparent;
  background-image:url("../images/icon-bubble-green.png");
  border:none;
  text-align: center;
  color:white;
  overflow: hidden;
  &.comments-unread { background-image:url("../images/icon-bubble-orange.png"); }
  &.comments-ok {
    .img-replace;
    background-image:url("../images/icon-plus-lt.png"), url("../images/icon-bubble-green.png");
    background-position:center 13px, center 6px;
  }
}

.btn-public {
  .btn;
  margin-top:10px;
  @media screen and (min-width: 600px) {
    position: absolute;
    margin:0;
    width:160px;
    top:89px;
    right:20px;
  }
  @media screen and (min-width: @size-desktop) {
    top:42px;
  }
}

.btn-status {
  .img-replace;
  &.status-approved {
    .btn-round(@color-green);
    background-image:url("../images/icon-check.png");
  }
  &.status-unreviewed {
    .btn-round();
    border-color:@color-grey;
  }
  &.status-denied {
    .btn-round(@color-red);
    background-image:url("../images/icon-x-lt.png");
  }
  &.status-needs-attention {
    .btn-round(@color-orange);
    background-image:url("../images/icon-attention.png");
  }
}

button {
  .btn;
  .font-ssp;
  font-size:14px;
  font-weight:400;
}

.category {
  border-bottom:1px solid @color-ltgrey;
  .details {
    padding:0 20px 20px;
    box-sizing: border-box;
  }
  &:last-child { border:none; }
  .items-required { font-weight:600; }
  .btn-reorder {
    .img-replace;
    background-image: url("../images/icon-drag.png");
    background-position:right center;
  }
  .options {
    padding-top:22px;
    box-sizing: border-box;
  }
  @media screen and min-width(@size-desktop) {
    padding:0 20px 20px;
  }
}

.collection-group {
  margin:20px 0 15px;
  .label {
    font-weight:600;
    margin-bottom:5px;
    display: block;
  }
  a {
    display: block;
    padding:5px 10px 5px 20px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font-weight:400;
    color:@color-blue;
    &:hover { background-color:@color-ltgrey; }
  }
  @media screen and (min-width:@size-desktop) {
    &.active a {
      background-color: #03A9F4;
      background-image: url("../images/icon-indicator.png");
      background-repeat:no-repeat;
      background-position: 7px center;
      color:white;
      font-weight:400;
    }
  }
}

footer {
  border-top:1px solid @color-ltgrey;
  margin-top:40px;
  padding:20px 0;
  .grid-footer;
  .attribution { text-align: center; }
  .brand-folio {
    display: block;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom:2px;
  }
  .brand-cu {
    .img-replace;
    display: block;
    margin:12px auto;
    background-image: url("../images/logo-cu.png");
    width: 205px;
    height: 42px;
  }
  .copyright {
    padding:20px;
    box-sizing:border-box;
  }
}

form {
  label {
    font-weight:400;
    margin-bottom:5px;
    display: block;
  }
  li { margin-bottom:10px; }
  h2 { .h3; }
  .options { .grid-form-options; }
}

h1, .h1 {
  font-size: 59px;
  font-weight: 600;
  line-height: 74px;
  text-transform: uppercase;
}

h2, .h2 {
  font-size:23px;
  line-height:30px;
  font-weight: 600;
  @media screen and (min-width:@size-desktop) {
    font-size: 37px;
    line-height: 40px;
  }
}

h3, .h3 {
  font-size: 17px;
  font-weight: 600;
  line-height: 25px;
  margin:15px 0 5px;
  @media screen and (min-width:@size-desktop) {
    font-size: 23px;
    line-height: 30px;
  }
}

header {
  background-color:@color-grey;
  box-sizing: border-box;
  .brand {
    text-align: center;
    color:white;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
  }
  .tagline { display: none; }
  @media screen and (min-width:@size-desktop) {
    margin: 20px 20px 0;
    height: 220px;
    border: 1px solid @color-ltgrey;
    background-color: transparent;
    .brand {
      .h1;
      background-color: @color-grey;
      text-indent:-5px;
      margin:10px;
      height: 165px;
      box-sizing:border-box;
      padding-top:108px;
      text-align: left;
    }
    .tagline {
      display: block;
      margin-left:10px;
      margin-top:12px;
      font-weight:400;
    }
  }
}

img { max-width:100%; }

input {
  .input;
  &[type="checkbox"] {
    display: inline;
    width:auto;
  }
}

.intro {
  border-bottom:1px solid @color-ltgrey;
  padding:20px;
  margin-bottom:30px;
  .link-back {
    display: block;
    margin-bottom:10px;
  }
  .options {
    margin-top:20px;
    .grid-intro-options;
  }
}

li {
  font-size: 14px;
  line-height: 20px;
}

main {
  @media screen and (min-width:@size-desktop) {
    padding:27px 20px 0 0;
  }
}

nav {
  background-color:@color-grey;
  .mobile-nav-link {
    display: block;
    .img-replace();
    background-image:url("../images/icon-menu.png");
    height:40px;
  }
  .nav-body {
    background-color:@color-ltgrey;
    padding:5px 20px;
    position: absolute;
    top:80px;
    left:0;
    width:100%;
    display: none;
    box-sizing: border-box;
  }
  .btn-close {
    position: absolute;
    top:110px;
    right:20px;
    .img-replace;
    border:none;
    padding:0;
    width:auto;
    background-image:url("../images/icon-x-dk.png");
    background-color:transparent;
    display: none;
  }
  &:hover {
    .nav-body, .btn-close { display: block; }
  }
  @media screen and (min-width:@size-desktop) {
    background-color:white;
    .nav-body {
      background-color: white;
      position: static;
      display: block;
    }
    .btn-close { display: none; }
    .mobile-nav-link { display: none; }
  }
}

p {
  font-size: 14px;
  line-height: 20px;
  margin:10px 0;
  max-width:760px;
  &.lead {
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    max-width:760px;
    @media screen and (min-width: @size-desktop) {
      font-size: 23px;
      line-height: 30px;
    }
  }
}

.page-collection-faculty {
  .category {
    .grid-category;
  }
}

.page-collection-public {
  main { padding:20px; }
}

.page-work .intro {
  .grid-work-intro;
}

.page-work-public {
  .link-back { margin-left:20px; }
  main { padding-top:20px; }
}

.public-header {
  border:none;
  width:auto;
  height:auto;
  h1 {
    padding:8px 10px 0;
    text-align: center;
    font-size:17px;
    line-height:25px;
    font-weight:400;
    text-transform: uppercase;
    color:white;
    @media screen and (min-width:@size-desktop) {
      padding:0;
      text-align: left;
      color:@color-grey;
      font-size:14px;
      font-weight:300;
      text-transform: none;
    }
  }
}

#prototype-nav {
  width:100%;
  max-width: 100%;
  margin-top:0;
  padding:5px;
  font-size:11px;
  background-color: @color-grey;
  color:white;
  text-align: center;
  box-sizing: border-box;
  a { color:@color-blue; }
}

.requirement-status {
  font-weight:400;
  .grid-status;
  &.status-not-started {
    color:@color-red;
    .progress-bar { background-color:fadeout(@color-red, 80%); }
    .progress { background-color: @color-red; }
  }
  &.status-complete {
    color:@color-green;
    .progress-bar { background-color:fadeout(@color-green, 80%); }
    .progress { background-color: @color-green; }
  }
  &.status-in-progress {
    color:@color-orange;
    .progress-bar { background-color:fadeout(@color-orange, 80%); }
    .progress { background-color: @color-orange; }
  }
  .label { font-weight:600; }
  .progress-bar {
    margin-top:15px;
    height:10px;
    overflow: hidden;
    max-width:100%;
  }
  .progress {
    .img-replace;
    min-width:1px;
    display: block;
  }
}

.select-students {
  position: relative;
  width:45%;
  &.reviewing .students { top:60px; }
  .label { background:right center no-repeat url("../images/icon-down.png"); }
  .selected-student {
    display: block;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    color:@color-blue;
  }
  .students {
    display: none;
    position: absolute;
    width:100%;
    top:30px;
    right:0;
    background-color: @color-ltgrey;
    box-sizing: border-box;
    padding:10px 0;
    a {
      display: block;
      padding:5px 23px;
      &:hover {
        color:white;
        background-color: @color-blue;
      }
    }
    &.on { display: block; }
  }
  @media screen and (min-width: 600px) {
    width:260px;
  }
}

textarea { .input; }

.tray {
  position: fixed;
  width:100%;
  height:100%;
  background-color:fadeout(@color-grey, 80%);
  display: none;
  &.on { display: block; }
  .content {
    width:300px;
    height:100%;
    position: fixed;
    top:0;
    right:0;
    background-color: white;
    padding:10px 20px;
    box-shadow:0 0 10px fadeout(@color-grey, 20%);
    h2 { .h3; }
  }
}

.work-images {
  .grid-work-images;
  padding:0 20px 20px;
  max-width:960px;
  li { background-size: cover; }
  img { display: none; }
}

.work-tile {
  border:1px solid @color-ltgrey;
  box-sizing:border-box;
  padding:5px;
  width: 170px;
  height:155px;
  position: relative;
  &.info, .info { .grid-tile; }
  a { color: @color-grey; }
  .title {
    font-weight:400;
    display: block;
  }
  .date { display: block; }
  .image {
    max-width:100%;
    background-size: cover;
    height: 95px;
    img { display: none; }
  }
  .options {
    position: absolute;
    padding-top:0;
    top:10px;
    right:10px;
  }
  @media screen and (min-width: @size-desktop) {
    padding:10px;
    width: 260px;
    height: 220px;
    .date { text-align: right; }
    .image { height: 165px; }
    .options {
      top:20px;
      right:20px;
    }
  }
}

.work-tile-placeholder {
  padding:0;
  width:170px;
  height:155px;
  button { height:100%; }
  @media screen and (min-width: @size-desktop) {
    width: 260px;
    height: 220px;
  }
}

.work-tiles {
  .grid-tiles;
  padding:0px;
  li { margin:0 20px 40px; }
}