<form>
    <h2>Edit a work</h2>
    <ul>
        <li>
            <label for="name"></label>
            <input type="text" name="name" id="name" />
        </li>
        <li>
            <label for="description"></label>
            <textarea name="description" id="description"></textarea>
        </li>
    </ul>
    <div class="options">
        <button class="ok" type="submit">Save</button>
        <button class="" type="cancel">Cancel</button>
        <button class="cancel" type="button">Archive</button>
    </div>
</form>