
.breadcrumbs {
  font-weight: 400;
  margin-left: 20px;
}

footer {
  border-top: 1px solid $color-ltgrey;
  margin-top: 40px;
  padding: 20px 0;
  @include grid-footer;
  .attribution { text-align: center; }
  .brand-folio {
    display: block;
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 2px;
  }
  .brand-cu {
    @include img-replace;
    display: block;
    margin: 12px auto;
    background-image: url("../images/logo-cu.png");
    width: 205px;
    height: 42px;
  }
  .copyright {
    padding: 20px;
    box-sizing: border-box;
  }
}

header {
  background-color: $color-grey;
  box-sizing: border-box;
  .brand {
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 600;
    line-height: 29px;
  }
  .tagline { display: none; }
  @media screen and (min-width: $size-desktop) {
    margin: 20px 20px 0;
    height: 220px;
    border: 1px solid $color-ltgrey;
    background-color: transparent;
    .brand {
      @include h1;
      background-color: $color-grey;
      text-indent: -5px;
      margin: 10px;
      height: 165px;
      box-sizing: border-box;
      padding-top: 108px;
      text-align: left;
    }
    .tagline {
      display: block;
      margin-left: 10px;
      margin-top: 12px;
      font-weight: 400;
    }
  }
}

nav {
  background-color: $color-grey;
  .mobile-nav-link {
    display: block;
    @include img-replace();
    background-image: url("../images/icon-menu.png");
    height: 40px;
  }
  .nav-body {
    background-color: $color-ltgrey;
    padding: 5px 20px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    display: none;
    box-sizing: border-box;
  }
  .btn-close {
    position: absolute;
    top: 110px;
    right: 20px;
    @include img-replace;
    border: none;
    padding: 0;
    width: auto;
    background-image: url("../images/icon-x-dk.png");
    background-color: transparent;
    display: none;
  }
  &:hover {
    .nav-body, .btn-close { display: block; }
  }
  @media screen and (min-width: $size-desktop) {
    background-color: white;
    .nav-body {
      background-color: white;
      position: static;
      display: block;
    }
    .btn-close { display: none; }
    .mobile-nav-link { display: none; }
  }
}

.intro {
  border-bottom: 1px solid $color-ltgrey;
  padding: 20px;
  margin-bottom: 30px;
  .link-back {
    display: block;
    margin-bottom: 10px;
  }
  .options {
    margin-top: 20px;
    @include grid-intro-options;
  }
}

.page-collection-faculty {
  .category {
    @include grid-category;
  }
}

.page-collection-public {
  main { padding: 20px; }
}

.page-work .intro {
  @include grid-work-intro;
}

.page-work-public {
  .link-back { margin-left: 20px; }
  main { padding-top: 20px; }
}

#prototype-nav {
  width: 100%;
  max-width: 100%;
  margin-top: 0;
  padding: 5px;
  font-size: 11px;
  background-color: $color-grey;
  color: white;
  text-align: center;
  box-sizing: border-box;
  a { color: $color-blue; }
}

.public-header {
  border: none;
  width: auto;
  height: auto;
  h1 {
    padding: 8px 10px 0;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    @media screen and (min-width: $size-desktop) {
      padding: 0;
      text-align: left;
      color: $color-grey;
      font-size: 14px;
      font-weight: 300;
      text-transform: none;
    }
  }
}

.tray {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: fadeout($color-grey, 80%);
  display: none;
  &.on { display: block; }
  .content {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 0 10px fadeout($color-grey, 20%);
    h2 { @include h3; }
  }
}
