@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i');

$color-grey: #37474F;
$color-blue: #03A9F4;
$color-green: #00C853;
$color-red: #F44336;
$color-orange: #FF9800;
$color-ltgrey: #ECEFF1;

$size-desktop:960px;

$statuses: (
  complete: $color-green,
  in-progress: $color-orange,
  not-started: $color-red
);

$btn-statuses: (
  ok: $color-green,
  edit: $color-orange,
  cancel: $color-red,
  info: $color-blue
);

$approval-statuses: approved, unreviewed, denied, needs-attention;
