.work-images {
  @include grid-work-images;
  padding: 0 20px 20px;
  max-width: 960px;
  li { background-size: cover; }
  img { display: none; }
}

.work-tile {
  border: 1px solid $color-ltgrey;
  box-sizing: border-box;
  padding: 5px;
  width: 170px;
  height: 155px;
  position: relative;
  a { color: $color-grey; }
  &.work-tile__info,
  .work-tile__info {
    @include grid-tile;
  }
  @media screen and (min-width: $size-desktop) {
    padding: 10px;
    width: 260px;
    height: 220px;
    .work-tile__date { text-align: right; }
    .work-tile__image { height: 165px; }
    .work-tile__options {
      top: 20px;
      right: 20px;
    }
  }
}
.work-tile--placeholder {
  padding: 0;
  button { height: 100%; }
} 
.work-tile__date { display: block; }
.work-tile__image {
  max-width: 100%;
  background-size: cover;
  height: 95px;
  img { display: none; }
}
.work-tile__options {
  position: absolute;
  padding-top: 0;
  top: 10px;
  right: 10px;
}
.work-tile__title {
  font-weight: 400;
  display: block;
}

.work-tiles {
  @include grid-tiles;
  padding: 0px;
  li { margin: 0 20px 40px; }
}
