<form class="content">
  <h2>Edit a work</h2>
  <ul>
    <li>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
    </li>
    <li>
      <label for="description">Description</label>
      <textarea name="description" id="description"></textarea>
    </li>
    <li>
      <label for="images">Image files</label>
      <input type="file" name="images" id="images" />
    </li>
  </ul>
  <div class="options">
    <button class="btn--ok" type="submit">Save</button>
    <button class="" type="cancel">Cancel</button>
    <button class="btn--cancel" type="button">Delete</button>
  </div>
</form>
