<form class="content">
    <h2>Edit a category</h2>
    <ul>
        <li>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="Sophomore Review Portfolio" />
        </li>
        <li>
            <label for="description">Description</label>
            <textarea name="description" id="description">Details...</textarea>
        </li>
        <li>
            <label for="items">Items expected</label>
            <input type="number" name="items" id="items" value="1" />
        </li>
        <li>
            <label for="required">
                <input type="checkbox" name="required" id="required" value="1" /> Category is required
            </label>
        </li>
    </ul>
    <div class="options">
        <button class="ok" type="submit">Save</button>
        <button class="" type="cancel">Cancel</button>
        <button class="cancel" type="button">Archive</button>
    </div>
</form>