<ul class="collection-groups">
    <li class="collection-group active">
        <a class="label" href="students.html">All students</a>
    </li>
    {{#each collectionGroups}}
    <li class="collection-group">
        <span class="label">My Collections</span>
        <ul>
            {{#each collections}}
            <li><a href="collection-{{id}}-faculty.html">{{name}}</a></li>
            {{/each}}
        </ul>
    </li>
    {{/each}}
</ul>
<button class="ok">&plus; Collection</button>
<button class="btn-close">Close navigation</button>