@import 'reset';
@import 'vars';
@import 'mixins';
@import 'grid';
@import 'basics';
@import 'app';
@import 'buttons';
@import 'work';

// MISCELLANEOUS

.category {
  border-bottom: 1px solid $color-ltgrey;
  .details {
    padding: 0 20px 20px;
    box-sizing: border-box;
  }
  &:last-child { border: none; }
  .items-required { font-weight: 600; }
  .btn-reorder {
    @include img-replace;
    background-image: url("../images/icon-drag.png");
    background-position: right center;
  }
  .options {
    padding-top: 22px;
    box-sizing: border-box;
  }
  @media screen and (min-width: $size-desktop) {
    padding: 0 20px 20px;
  }
}

.collection-group {
  margin: 20px 0 15px;
  .label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
  }
  a {
    display: block;
    padding: 5px 10px 5px 20px;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    font-weight: 400;
    color: $color-blue;
    &:hover { background-color: $color-ltgrey; }
  }
  @media screen and (min-width: $size-desktop) {
    &.active a {
      background-color: #03A9F4;
      background-image: url("../images/icon-indicator.png");
      background-repeat: no-repeat;
      background-position: 7px center;
      color: white;
      font-weight: 400;
    }
  }
}

.requirement-status {
  font-weight: 400;
  @include grid-status;
}
@each $status, $color in $statuses {
  .requirement-status--#{$status} {
    color: $color;
    .requirement-status__progress-bar { background-color: fade-out($color, 0.8); }
    .requirement-status__progress { background-color: $color; }
  }
}
.requirement-status__label { font-weight: 600; }
.requirement-status__progress {
  @include img-replace;
  min-width: 1px;
  display: block;
}
.requirement-status__progress-bar {
  margin-top: 15px;
  height: 10px;
  overflow: hidden;
  max-width: 100%;
}

.select-list {
  position: relative;
  width: 45%;
  &.reviewing .select-list__options { top: 60px; }
  .select-list__label { background: right center no-repeat url("../images/icon-down.png"); }
  .select-list__item--selected {
    display: block;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    color: $color-blue;
  }
  .select-list__options {
    display: none;
    position: absolute;
    width: 100%;
    top: 30px;
    right: 0;
    background-color: $color-ltgrey;
    box-sizing: border-box;
    padding: 10px 0;
    a {
      display: block;
      padding: 5px 23px;
      &:hover {
        color: white;
        background-color: $color-blue;
      }
    }
    &.select-list__options--on { display: block; }
  }
  @media screen and (min-width: 600px) {
    width: 260px;
  }
}
